/* 
 * GENERAL STYLING
 */

/* CSS resets for all dem browsers */
* {
  margin: 0;
  padding: 0;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  background: -moz-radial-gradient(center, ellipse cover, #bfbfbf 0%, #8e8e8e 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#bfbfbf), color-stop(100%,#8e8e8e)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #bfbfbf 0%,#8e8e8e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #bfbfbf 0%,#8e8e8e 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #bfbfbf 0%,#8e8e8e 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #bfbfbf 0%,#8e8e8e 100%); /* W3C */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #8E8E8E;
}

#header {
  padding: 20px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 50%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#e0e0e0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 50%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 50%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e0e0e0 50%,#ffffff 100%); /* W3C */
  background-color: #BFBFBF;
  box-shadow: 3px 3px 15px #000;
  -moz-box-shadow: 3px 3px 15px #000;
  -webkit-box-shadow: 3px 3px 15px #000;
}

#container {
  margin: 0 auto;
  z-index: 5;
}

#face-grid {
  position: fixed;
  z-index: -10;
}

.face-margins-even {
  margin: 20px -80px;
}

.face-margins-odd {
  margin: 20px 20px;
}

.face-img {
  display: inline;
  margin: 10px;
}

.module {
  width: 800px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.8);
  border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 0 8px 12px #444;
  -moz-box-shadow: 0 8px 12px #444;
  -webkit-box-shadow: 0 8px 12px #444;
}


/*
 * INDEX STYLING
 */
#main-content {
  display: table;
  padding-top: 80px;
  width: 100%;
}

#main-content > div {
  text-align: center;
}

button.big-button-and-cannot-lie {
  box-shadow: 0 8px 24px #000;
  -moz-box-shadow: 0 8px 24px #000;
  -webkit-box-shadow: 0 8px 24px #000;
  font-size: 2em !important;
  font-weight: bold;
  margin: 10px;
  margin-top: 150px;
  height: 180px;
  width: 380px;
}

/*
 * SITE ACCENTS
 */
.loading-hidden {
  display: none;
}

.topic-button {
  width: 200px;
}

.topic-divider {
  margin-top: 20px;
  margin-left: 40px;
}

#topics-intro {
  margin-top: 40px;
}

.tag-canvas {
  margin-left: 50px;
  border: 1px solid black;
}
