/* 
 * MODULE STYLING
 */

.module {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: #e0e0e0;
  text-align: left;
}

.mod-title {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0 3px 5px #222;
  -moz-box-shadow: inset 0 3px 5px #222;
  -webkit-box-shadow: inset 0 3px 5px #222;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2f96b4;
  color: white;
}

.question {
  margin: 25px;
}

.question-input {
  margin-top: 8px;
}

.question-field {
  width: 500px;
}

.question-checkbox, .question-radio {
  margin: 5px;
  margin-left: 50px;
}

.question-textarea {
  height: 100px;
}

.scale-button {
  width: 250px;
}

.submit-button {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 275px;
  height: 50px;
}

.submit-container {
  margin: 0 auto;
  text-align: right;
}

.module button {
  margin: 0 0.5ex;
}

/**
 *   ACCENTS
 */

.followup-1 {
  margin-left: 70px;
}

.followup-2 {
  margin-left: 90px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*
 * CAPTCHA
 */
#recaptcha_div {
  margin-top: 1.25em;
  margin-bottom: -5em;
}
