/* 
 * MODULE STYLING
 */

.module {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #e0e0e0;
  text-align: left;
}

.mod-title {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #545454;
  color: white;
}

.question {
  padding: 15px;
}
