extends layout

block content
  br
  div.container
    div.row
      div.span12.well
        h1 401 - Unauthorized
        br
        p Sorry, you must 
          a(href='/admin-login') sign in
          |  before you're able to view this page.
