extends layout

block content
  br
  div.container
    div.row
      div.span12.well.text-left
        a.btn.btn-default(href="/logout").pull-right Log Out
        a.btn.btn-default(href="/").pull-right Home
        h3 Admin Control Panel
        hr
        table.table.table-striped
          thead
            tr
              th Attribute
              th Value
          tbody
            tr
              th(style="width: 25%;") Surveys Received
              td#count -
            tr
              th Average Age
              td#avgAge -
            tr
              th Percent Male
              td#avgMale -
            tr
              th Percent Female
              td#avgFemale -

    div.row
      div.span12.well.text-left
        h3 Aggregates
        hr
        form.form-horizontal
        
          div.span10.control-group
            label.control-label(for="country") Country
            div.controls
              #country-select
              
          div.span5.control-group
            label.control-label(for="gender") Gender
            div.controls
              label.radio
                input(type="radio", name="gender", value="", checked)
                | Any
              label.radio
                input(type="radio", name="gender", value="Male")
                | Male
              label.radio
                input(type="radio", name="gender", value="Female")
                | Female
              label.radio
                input(type="radio", name="gender", value="Transgender")
                | Transgender
                
          div.span5.control-group
            label.control-label(for="age") Age
            div.controls
              label.radio
                input(type="radio", name="age", value="", checked)
                | Any
              label.radio
                input(type="radio", name="age", value="under30")
                | Under 30
              label.radio
                input(type="radio", name="age", value="over30")
                | 30 or Over
                
          div.span5.control-group
            label.control-label(for="education") Education
            div.controls
              label.radio
                input(type="radio", name="education", value="", checked)
                | Any
              label.radio
                input(type="radio", name="education", value="no")
                | No college
              label.radio
                input(type="radio", name="education", value="yes")
                | Some college
              
          div.span4.control-group
            label.control-label(for="domains") Archdomains
            div.controls
              label.radio
                input(type="radio", name="domains", value="")
                | None
              label.radio
                input(type="radio", name="domains", value="Blogs / Personal Websites")
                | Blogs
              label.radio
                input(type="radio", name="domains", value="Online Forums")
                | Online Forums
              label.radio
                input(type="radio", name="domains", value="Social Networks")
                | Social Networks
              label.radio
                input(type="radio", name="domains", value="Online Dating Sites")
                | Online Dating Sites
              label.radio
                input(type="radio", name="domains", value="Digital Games")
                | Digital Games
              label.radio
                input(type="radio", name="domains", value="3D Virtual Worlds")
                | 3D Virtual Worlds
              label.radio
                input(type="radio", name="domains", value="Emails")
                | Emails
            
          div.span12.control-group
            div.controls
              a.btn.btn-primary#submit-button Submit
        
        div.span11
          hr
          h3 Descriptives
          table#aggregate-results.table.table-bordered
            thead
              tr
                th Item
                th Value
            tbody
              tr
                td Surveys with a match on the filter
                td#filter-match
              tr
                td Proportion of filter matches over ALL surveys
                td#filter-match-average
              tr
                td Average number of filter domains over ALL surveys
                td#total-domain-average
              tr
                td Average number of filter profiles over ALL surveys
                td#total-profile-average
              tr
                td Average number of domains amongst filter matches
                td#filter-domain-average
              tr
                td Average number of profiles amongst filter matches
                td#filter-profile-average
              tr
                td Average number of crossovers amongst filter matches
                td#filter-crossover-average
                
                
        div.span11
          hr
          h3 Crossovers
          table#crossover-results.table.table-bordered
            thead
              tr
                th Source
                th Destination
                th Count
            tbody
          
