!!! 5
html
  head
    title Identity Mapping Project
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/viz/solar-system.css')
    link(rel='stylesheet', href='/css/elusive-webfont.css')
  body
    #fb-root
    #periphery-buttons
      .btn-toolbar
        .btn-group
          a.btn.btn-primary.periphery-button(href="/")
            span.icon-home.icon-white
            | &nbsp;Home
          button.btn.btn-primary.periphery-button.legend-button
            span.icon-globe.icon-white
            | &nbsp;Legend
          button.btn.btn-primary.periphery-button.details-button
            span.icon-comment.icon-white
            | &nbsp;Details

        .btn-group
          button#share-button.btn.btn-primary.periphery-button(title="Send Email", data-toggle="tooltip", data-trigger="hover", data-placement="bottom", data-container="body")
            span.icon-envelope.icon-white
          a#fb-button.btn.btn-primary.periphery-button(href="http://www.facebook.com/sharer/sharer.php?u=#{url}", target="_blank", title="Share on Facebook", data-toggle="tooltip", data-trigger="hover", data-placement="bottom", data-container="body")
            span.el-icon-facebook
          a.btn.btn-primary.periphery-button(href="https://twitter.com/intent/tweet?text=I%20just%20mapped%20my%20digital%20identity%20and%20you%20can%20too%20-%20#{url}", target="_blank", title="Tweet", data-toggle="tooltip", data-trigger="hover", data-placement="bottom", data-container="body")
            span.el-icon-twitter
          a.btn.btn-primary.periphery-button(href="https://plus.google.com/share?url=#{url}", target="_blank", title="Share on Google+", data-toggle="tooltip", data-trigger="hover", data-placement="bottom", data-container="body")
            span.el-icon-googleplus

    #container
      .nebula-holder
        .nebula
        .nebula
        .nebula
      svg.crossover-holder
        defs
      #main-content
        svg
          defs
            marker#legend-crossover-marker(viewBox="0 0 10 10", refX="16", refY="5", markerWidth="6", markerHeight="6", orient="auto")
              path(d="M 0 0 L 10 5 L 0 10 z", style="fill: #9c9ede; stroke: #9c9ede;")
            radialGradient(id='sun-gradient', gradientUnits='objectBoundingBox', cx='50%', cy='50%', r='60%')
              stop(offset='0%', stop-color='#fff', stop-opacity='1')
              stop(offset='100%', stop-color='#860', stop-opacity='1')
            radialGradient(id='planet-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#faa', stop-opacity='1')
              stop(offset='100%', stop-color='#800', stop-opacity='1')
            radialGradient(id='moon-gradient', gradientUnits='objectBoundingBox', cx='50%', cy='50%', r='50%')
              stop(offset='0%', stop-color='#aaa', stop-opacity='1')
              stop(offset='100%', stop-color='#777', stop-opacity='1')
            // [Arch]domain-specific colors are derived from
            // https://github.com/mbostock/d3/wiki/Ordinal-Scales#categorical-colors
            radialGradient(id='d-blogs---personal-websites-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#9c9ede', stop-opacity='1')
              stop(offset='100%', stop-color='#393b79', stop-opacity='1')
            radialGradient(id='d-emails-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#cedb9c', stop-opacity='1')
              stop(offset='100%', stop-color='#637939', stop-opacity='1')
            radialGradient(id='d-online-forums-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#dadaeb', stop-opacity='1')
              stop(offset='100%', stop-color='#756bb1', stop-opacity='1')
            radialGradient(id='d-social-networks-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#c6dbef', stop-opacity='1')
              stop(offset='100%', stop-color='#3182bd', stop-opacity='1')
            radialGradient(id='d-digital-games-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#de9ed6', stop-opacity='1')
              stop(offset='100%', stop-color='#7b4173', stop-opacity='1')
            radialGradient(id='d-3d-virtual-worlds-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#fdd0a2', stop-opacity='1')
              stop(offset='100%', stop-color='#e6550d', stop-opacity='1')
            radialGradient(id='d-online-dating-sites-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#e7969c', stop-opacity='1')
              stop(offset='100%', stop-color='#843c39', stop-opacity='1')
        #sun.hidden.details-button
          svg
            circle(r='30', cx='30', cy='30')

    .legend-template.hidden
      .row-fluid.legend-item
        .span2
          svg(width="24", height="24")
            circle.sun(r='12', cx='12', cy='12')
        .span10 The
          b  SUN
          |  represents the physical self.
      .row-fluid.legend-item
        .span2
          svg(width="24", height="24")
            circle(r="10", cx="12", cy="12", fill="url(#d-blogs---personal-websites-gradient)")
        .span10 Each category has zero or more
          b  PLANETS
          | , based on your number of accounts in that digital domain.
      .row-fluid.legend-item
        .span2
          svg(width="24", height="24")
            circle(r="5", cx="12", cy="12", fill="url(#moon-gradient)")
        .span10 Each planet has one or more
          b  GRAY MOONS
          | , one for each account that you provided.  The
          b  ORBIT SPEED
          |  of each moon corresponds to how frequently you use the corresponding account.
      .row-fluid.legend-item
        .span2
          svg.system-orbit(width="24", height="96")
            path(d="M23,95 C-5,95 -5,0 23,0", stroke="#9c9ede", stroke-width="2")
        .span10
          b LARGE ORBITS
          |  represent categories of digital domains.  These categories are colored for differentiation, but the colors themselves do not have a particular meaning.
      .row-fluid.legend-item
        .span2
          svg(width="24", height="80")
            path.crossover-mark(d="M0,0 Q18,22 18,44 Q18,66 0,86", stroke="#9c9ede", stroke-width="2", marker-mid="url(#legend-crossover-marker)" marker-end="url(#legend-crossover-marker)")
        .span10 Finally,
          b  ANIMATED ARROWS
          |  indicate crossover accounts, where a virtual persona from an original digital domain moves to another.

    script(src='../js/lib/jquery-1.9.0.min.js')
    script(src='../js/lib/bootstrap.min.js')
    script(src='../js/lib/d3.v3.min.js')
    script(src='../js/display/identitymap-display.js')
