!!! 5
html
  head
    title Identity Mapping Project
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/viz/solar-system.css')
  body
    #periphery-buttons
      span#share-button.btn.btn-primary.periphery-button
        span.icon-share.icon-white
        | &nbsp;Share
      a(href='/')
        span.btn.btn-primary.periphery-button
          span.icon-home.icon-white
          | &nbsp;Home
    #container
      .nebula-holder
        .nebula
        .nebula
        .nebula
      #main-content
        svg
          defs
            radialGradient(id='sun-gradient', gradientUnits='objectBoundingBox', cx='50%', cy='50%', r='60%')
              stop(offset='0%', stop-color='#fff', stop-opacity='1')
              stop(offset='100%', stop-color='#860', stop-opacity='1')
            radialGradient(id='planet-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#faa', stop-opacity='1')
              stop(offset='100%', stop-color='#800', stop-opacity='1')
            radialGradient(id='moon-gradient', gradientUnits='objectBoundingBox', cx='50%', cy='50%', r='50%')
              stop(offset='0%', stop-color='#aaa', stop-opacity='1')
              stop(offset='100%', stop-color='#777', stop-opacity='1')
            // [Arch]domain-specific colors are derived from
            // https://github.com/mbostock/d3/wiki/Ordinal-Scales#categorical-colors
            radialGradient(id='d-blogs---personal-websites-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#9c9ede', stop-opacity='1')
              stop(offset='100%', stop-color='#393b79', stop-opacity='1')
            radialGradient(id='d-emails-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#cedb9c', stop-opacity='1')
              stop(offset='100%', stop-color='#637939', stop-opacity='1')
            radialGradient(id='d-online-forums-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#dadaeb', stop-opacity='1')
              stop(offset='100%', stop-color='#756bb1', stop-opacity='1')
            radialGradient(id='d-social-networks-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#c6dbef', stop-opacity='1')
              stop(offset='100%', stop-color='#3182bd', stop-opacity='1')
            radialGradient(id='d-digital-games-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#de9ed6', stop-opacity='1')
              stop(offset='100%', stop-color='#7b4173', stop-opacity='1')
            radialGradient(id='d-3d-virtual-worlds-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#fdd0a2', stop-opacity='1')
              stop(offset='100%', stop-color='#e6550d', stop-opacity='1')
            radialGradient(id='d-online-dating-sites-gradient', gradientUnits='objectBoundingBox', cx='25%', cy='25%', r='75%')
              stop(offset='0%', stop-color='#e7969c', stop-opacity='1')
              stop(offset='100%', stop-color='#843c39', stop-opacity='1')
        #sun(class='hide')
          svg
            circle(r='30', cx='30', cy='30')
      
    script(src='../js/lib/jquery-1.9.0.min.js')
    script(src='../js/lib/bootstrap.min.js')
    script(src='../js/lib/d3.v3.min.js')
    script(src='../js/display/identitymap-display.js')
