extends layout

block content
  #header
    h1 Identity Mapping Project
  #container
    #main-content
      div
        div
          button#about-button.big-button-and-cannot-lie.loading-hidden.btn.btn-info(type='button') About the Project
        div
         button#survey-button.big-button-and-cannot-lie.loading-hidden.btn.btn-info(type='button') Map My Identity

