extends layout

block content
  #container
    #main-content
      div
        button#about-button.big-button-and-cannot-lie.loading-hidden.btn.btn-info(type='button') About the Project
        button#survey-button.big-button-and-cannot-lie.loading-hidden.btn.btn-info(type='button') Map My Identity

