extends layout

block content
  #header
    h1 Identity Mapping Project
  #container
    #main-content
      button#about-button.big-button-and-cannot-lie.float-left.loading-hidden About the Project
      button#survey-button.big-button-and-cannot-lie.float-right.loading-hidden Map Your Identity
