!!! 5
html
  head
    title Identity Mapping Project
    link(rel='stylesheet', href='/css/main.css')

    script(src='../js/lib/jquery-1.9.0.min.js')
    script(src='../js/util/include.js')
    script(src='../js/util/init.js')
  body
    block content
