extends layout

block content
  #header
    h1 Identity Mapping Project
  #container
    #loading.module.text-center
      p Loading, please wait...
      img(src="../assets/ajax-loader.gif")
  script(src='http://www.google.com/recaptcha/api/js/recaptcha_ajax.js')
  script.
    window.__userIp = function (json) {
      // Wipe out the callback upon, well, callback.
      window.__userIp = json.ip;
    };
  script(src='http://jsonip.appspot.com/?callback=__userIp')
