extends layout

block content
  #container
    #loading.module.text-center
      p Loading, please wait...
      img(src="../assets/ajax-loader.gif")
  script(src='http://www.google.com/recaptcha/api/js/recaptcha_ajax.js')
