body {
  background: #222;
  position: relative;
  text-align: center;
}

#sun, .system-orbit, .system {
  position: absolute;
  vertical-align: middle;
}

#sun {
  width: 30px;
  height: 30px;
}

#sun circle {
  fill: url(#sun-gradient);
}

.system-orbit, .moon {
  -moz-animation-name: rotate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.system-orbit {
  border: 1px solid white;
}

.system > .label {
  background-color: inherit;
  position: absolute;
  white-space: normal;
}

.orbit {
  fill: none;
  stroke: #ccc;
  stroke-dasharray: 2,3;
}

.planet, .moon {
  position: absolute;
  top: 0;
  left: 0;
}

.planet {
}

.planet circle {
  fill: url(#planet-gradient);
}

.moon {
}

.moon circle {
  fill: url(#moon-gradient);
}

@-moz-keyframes rotate {
  from { -moz-transform: rotateZ(0deg); }
  to { -moz-transform: rotateZ(-360deg); }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(-360deg); }
}

@keyframes rotate {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(-360deg); }
}
