body {
  background: #222;
  position: relative;
  text-align: center;
}

.nebula-holder, .nebula {
  position: absolute;
  width: 24000px; /* Just to ensure a large-enough field. */
  height: 24000px;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.nebula-holder {
  -moz-animation-name: rotate;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 3000s;
  -webkit-animation-name: rotate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 3000s;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-duration: 3000s;
  z-index: 0;
}

.nebula {
  background-color: black;
  background-image: url(seamless-galaxies-greenish.jpg);
  -moz-animation-name: zoom;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 60s;
  -webkit-animation-name: zoom;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 60s;
  animation-name: zoom;
  animation-timing-function: ease-in;
  animation-duration: 60s;
  left: -500px;
  top: -500px;
}

.nebula:nth-child(2) {
  -moz-animation-duration: 120s;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
  left: -1000px;
}

.nebula:nth-child(3) {
  -moz-animation-duration: 180s;
  -webkit-animation-duration: 180s;
  animation-duration: 180s;
  top: -1000px;
}

#main-content {
  -moz-transform: rotateX(60deg);
  -webkit-transform: rotateX(60deg);
  transform: rotateX(60deg);
  z-index: 10;
}

#main-content > svg {
  position: absolute;
  width: 0;
  height: 0;
}

#main-content * {
  position: absolute;
}

#sun, .system-domain, .system {
  vertical-align: middle;
}

#sun {
  width: 60px;
  height: 60px;
}

/* Compensate for 3D foreshortening. */
#sun, .label, .label > span {
  -moz-transform: scaleY(2.0);
  -webkit-transform: scaleY(2.0);
  transform: scaleY(2.0);
}

#sun circle {
  fill: url(#sun-gradient);
}

.label {
  background-color: inherit;
  white-space: normal;
  left: 0;
}

.label, .perspective-adjust {
  -moz-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.system-domain > .region, .system > .label, .moon, .perspective-adjust {
  -moz-animation-name: rotate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun svg, .system-domain > .region, .orbit, .planet, .moon {
  top: 0;
  left: 0;
}

.system-domain > .label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  opacity: 0.25;
  padding: 0;
  text-shadow: white 0 0 12px;
  width: 100%;
}

/* Adapted from https://github.com/mbostock/d3/wiki/Ordinal-Scales#categorical-colors,
   must coordinate with gradients in identitymap.jade. */
.system-domain > .label.d-blogs {
  color: #9c9ede;
}

.system-domain > .label.d-emails {
  color: #cedb9c;
}

.system-domain > .label.d-online-forums {
  color: #dadaeb;
}

.system-domain > .label.d-social-networks {
  color: #c6dbef;
}

.system-domain > .label.d-digital-gaming-platforms {
  color: #de9ed6;
}

.system-domain > .label.d-3d-virtual-worlds {
  color: #fdd0a2;
}

.system-domain > .label.d-online-dating-sites {
  color: #e7969c;
}
/* End adaptation. */

.system-orbit {
  fill: none;
  stroke-dasharray: 10,5;
}

/* Adapted from https://github.com/mbostock/d3/wiki/Ordinal-Scales#categorical-colors,
   must coordinate with gradients in identitymap.jade. */
.system-orbit.d-blogs {
  box-shadow: inset 0 0 64px -32px #5254a3;
  stroke: #9c9ede;
}

.system-orbit.d-emails {
  box-shadow: inset 0 0 64px -32px #8ca252;
  stroke: #cedb9c;
}

.system-orbit.d-online-forums {
  box-shadow: inset 0 0 64px -32px #9e9ac8;
  stroke: #dadaeb;
}

.system-orbit.d-social-networks {
  box-shadow: inset 0 0 64px -32px #6baed6;
  stroke: #c6dbef;
}

.system-orbit.d-digital-gaming-platforms {
  box-shadow: inset 0 0 64px -32px #a55194;
  stroke: #de9ed6;
}

.system-orbit.d-3d-virtual-worlds {
  box-shadow: inset 0 0 64px -32px #fd8d3c;
  stroke: #fdd0a2;
}

.system-orbit.d-online-dating-sites {
  box-shadow: inset 0 0 64px -32px #ad494a;
  stroke: #e7969c;
}
/* End adaptation. */

.orbit {
  fill: none;
  stroke: #ccc;
  stroke-dasharray: 2,3;
}

.planet {
}

.planet circle {
  fill: url(#planet-gradient);
}

.moon {
}

.moon circle {
  fill: url(#moon-gradient);
}

@-moz-keyframes rotate {
  from { -moz-transform: rotateZ(0deg); }
  to { -moz-transform: rotateZ(-360deg); }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotateZ(0deg); }
  to { -webkit-transform: rotateZ(-360deg); }
}

@keyframes rotate {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(-360deg); }
}

@-moz-keyframes zoom {
  from {
    opacity: 0.0;
    -moz-transform: scale(4);
  }
  5% {
    opacity: 0.05;
  }
  75% {
    opacity: 0.1;
  }
  to {
    opacity: 0.0;
    -moz-transform: scale(64);
  }
}

@-webkit-keyframes zoom {
  from {
    opacity: 0.0;
    -webkit-transform: scale(4);
  }
  5% {
    opacity: 0.05;
  }
  75% {
    opacity: 0.1;
  }
  to {
    opacity: 0.0;
    -webkit-transform: scale(64);
  }
}

@keyframes zoom {
  from {
    opacity: 0.0;
    transform: scale(4);
  }
  5% {
    opacity: 0.05;
  }
  75% {
    opacity: 0.1;
  }
  to {
    opacity: 0.0;
    transform: scale(64);
  }
}
